.container{
    background-color: #fff;
    border-left:1px solid #f3f5f9;;
    text-align: center;
}

.profile{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.image{
    width: 50%;
}

.container>h2,.container>p{
    margin: 0em 2em;
    color:#17083c
}

.calendar{
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar>div{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.icon{
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 50%;
}

@media (max-width: 1250px) {
    .image{
        width: 20%;
    }
}