.main{
    background-color: #fff;
    padding: 0em 2em;
}

.searcher{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input{
    background-color: #f3f5f9;
    border: none;
    padding: 0em 1em;
    width: 40%;
    height: 50px;
    margin: auto 0px;
    border-radius: 15px ;
}

.line{
    padding: 1px;
    width: 100%;
    background-color: #f3f5f9;
}

.filters_main{
    display: flex;
    justify-content: space-between;
}

.filters{
    display: flex;
    align-items: center;
}

.filter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #f3f5f9;
    border-radius: 20px;
    margin: 0.5em;
    width: 8em;
}