.main_container{
    display: flex;
    width: 100vw;
}

.main{
    width: 100%;
}

.content{
    background-color: #f3f5f9;
    padding: 1em;
}

.milestones{
    background-color: rgba(78,69,236,255);
    padding: 1em;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* height: 300px; */
}

.image{
    width: 50%;
    height: 70%;
    margin: 0 auto;
}

.milestones>h3{
    color: white;
}

.milestones>p{
    color: lightgray;
}

.milestones>div{
    background-color: #f3f5f9;
    border-radius: 15px;
}

.milestones>div>p{
    color: rgba(82,79,231,255)
    ;
}

.tasks_container{
    display: flex;
    justify-content: space-evenly;
}


.trente{
    width: 20%;
}

.soixante{
    width: 60%;
}

.summary{
    border-radius: 25px;
    background-color: #fff;
    height: 300px;
    padding: 1em;
    margin: 0em;
}

.line{
    padding: 1px;
    background-color: #f3f5f9;
}

.project{
    width: 100%;
}

.status_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom{
    display: flex;
    justify-content: space-evenly;
}

.progression{
    background-color: rgba(78,69,236,255);
    padding: 5px 10px;
    color: #f3f5f9;
    border-radius: 15px;
}

.tasks_list{
    background-color: #f3f5f9;
    padding: 0em 2em;
}

.tasks_list>div{
    display: flex;
    justify-content: space-between;
}

@media (max-width : 1250px) {
    .main_container{
        flex-direction: column;
    }
    .tasks_container{
        flex-direction: column;
    }

    .summary{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .milestones{
        width: 50%;
        justify-content: center;
        margin: 0 auto;
    }

    .milestones>img{
        width: 50%;
    }

    .status_container{
        justify-content: space-between;
    }

    .trente{
        width: 100%;
    }

    .soixante{
        width: 90%;
    }
}

@media (max-width : 1000px) {
    .main_container{
        flex-direction: column;
        width: 100%;
    }
}