.container{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    width: 25%;
    animation: animate 1s linear;
}

.circle{
    border: 1px solid #f3f5f94f;
    display: inline-block;
    padding: 0.8em 1em;
    border-radius:50% ;
}

@keyframes animate {
    0%{
        transform: translateY(5vh)
        scale(0);
    }
    100%{
        transform: translateY(0vh)
        scale(1);
    }
}