.container{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0em;
    background-color: rgba(255, 255, 255, 0.708);
    border-radius: 20px;
}

.time{
    display: flex;
    align-items: center;
}

.play{
    background-color: rgba(78,69,236,255);
    padding: 0.5em;
    border-radius: 50%;
}

.date{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

.hour{
    display: flex;
    align-items: center;
    color: lightgray;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: column ;
}

.subtitles{
    display: flex;
    width: 100%;
    font-size: 0.9em;
    justify-content: space-between;
}

.subtitles>div{
    display: flex;
    align-items: center;
}

.progression{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progressbar{
    padding: 3px;
    background-color: #6364f9;
    border-radius: 5px;
    width: 60%;
}

.level{
    background-color: lightgray;
    border-radius: 5px;
    padding: 3px;
}

.reminder{
    display: flex;
    align-items: center;
    color: #6364f9;
    background-color: #f3f5f9;
    padding: 6px 15px;
    border-radius: 20px;
}

h3{
    font-size: 1em;
}

p{
    font-size: 0.8em;
}

.container>*{
    margin: 2px;
}

@media (max-width : 1100px) {
    .container{
        flex-direction: column;
    }
    .progression{
        width: 90%;
    }
    .progression>p{
        margin: 0 auto;
    }
}