.App{
  display: flex;
  background-color: #f3f5f9;
  min-height: 100vh;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/Poppins/Poppins-Regular.ttf");
}

*{
  font-family: "Poppins";
}

h1{
  animation:animate 2s linear;
}

@keyframes animate {
  0%{
    opacity: 0;
  }
  50%{
    color: blue;
  }
  100%{
    opacity: 1;
    color: black;
  }
}